/* Status indicator styles for headers */

.status-badge {
    display: inline-block;
    padding: 0.1em 0.4em;
    font-size: 0.6em;
    font-weight: 700;
    vertical-align: middle;
    margin-left: 0.5em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    border-radius: 3px;
    border: 1px solid;
}

.status-badge.done {
    color: #fff;
    background-color: #2196F3;
    border-color: #1976D2;
}

.status-badge.wip {
    color: #fff;
    background-color: #FF9800;
    border-color: #F57C00;
}

.status-badge.uncertain {
    color: #fff;
    background-color: #9C27B0;
    border-color: #7B1FA2;
}

/* Status note (extra text after badge) */
.status-note {
    display: inline-block;
    font-size: 0.6em;
    font-weight: 500;
    vertical-align: middle;
    margin-left: 0.3em;
    padding: 0.1em 0.4em;
    border-radius: 3px;
    border-bottom: 2px solid;
}

.status-note.done {
    color: #1976D2;
    border-bottom-color: #2196F3;
}

.status-note.wip {
    color: #F57C00;
    border-bottom-color: #FF9800;
}

.status-note.uncertain {
    color: #7B1FA2;
    border-bottom-color: #9C27B0;
}

/* Link badges */
a.status-badge {
    text-decoration: none;
    cursor: pointer;
}

a.status-badge:hover {
    opacity: 0.85;
}
